.breadcrumb {
  background: $purple;
  padding: 0;

  &-item {
    a {
      color: rgba($white, 0.8);
    }

    & + & {
      &::before {
        content: '';
        margin-right: 7px;
        background: rgba(255, 255, 255, 0.8);
        width: 4px;
        height: 4px;
        border-radius: 50%;
        padding: 0;
        align-self: center;
      }
    }
  }
}

.subheader {
  & + .container {
    margin-top: -35px;
  }

  &.pb-4 {
    .breadcrumb {
      margin-bottom: 0;
    }
  }
}
