.card {
  &-title {
    font-size: 0.8125rem;
  }

  &-text {
    font-size: 0.6875rem;
    color: #777;

    em {
      color: $black;
    }

    &:last-child {
      margin-bottom: 0 !important;
    }
  }

  &-image {
    width: 40px;
    height: 40px;
  }
}
