.modal {
  &-header {
    border-bottom: 0;
  }

  &-footer {
    border-top: 0;

    .btn {
      width: calc(50% - 1.5rem);
    }
  }
}

.illustration-modal {
  &-title {
    font-size: 1.5rem;
  }
  &-text {
    font-size: 1rem;
  }
}
