.status-icon {
  .icon {
    font-size: 90%;
  }

  &-aprovado {
    background: $green-light;

    .icon {
      color: $green;
    }
  }

  &-pendente {
    background: $purple-light;

    .icon {
      color: $purple;
    }
  }

  &-em-ajuste {
    background: $orange-light;

    .icon {
      color: $orange;
    }
  }
}

.status-bullet {
  &-aprovado {
    background: $green;
  }

  &-pendente {
    background: $purple;
  }

  &-em-ajuste {
    background: $orange;
  }
}
