@import './base/fonts';
@import './base/icons';
@import './base/variables';
@import './base/reset';
@import '~bootstrap/scss/bootstrap';
@import './base/utilities';
@import './components/button';
@import './components/header';
@import './components/avatar';
@import './components/breadcrumb';
@import './components/search-bar';
@import './components/jobs-list-table';
@import './components/clients-list';
@import './components/client-jobs-list';
@import './components/client-details';
@import './components/status-icon';
@import './components/modal';
@import './components/form';
@import './components/page';
@import './components/index';
@import './components/job-card';
@import './components/banner';
@import './components/stats';
@import './components/card';
@import './components/account-menu';
@import './components/plan';
@import './components/job-details';
@import './components/timeline';
@import './components/tabs';
@import './components/client-avatar';
@import './components/login';
@import './components/bottom-bar';
@import './components/job-form-files';

.lock-overlay {
  width: 100vw;
  height: 100%;
  position: fixed;
  z-index: 999;
  cursor: not-allowed;
}
